<div class="container">
  <div>
    <form #form="ngForm" (submit)="onSubmit(form)"  autocomplete="on">
      
  <div class="row" *ngIf="service.formData.ExperienceID" >
<div class="col-md-4">
    <div hidden class="form-group ">         
        <label > ExperienceID </label>
        <input  name="ExperienceID" #ExperienceID="ngModel" [(ngModel)]="service.formData.ExperienceID" class="form-control" required> 
        <div class="alert alert-danger" *ngIf="ExperienceID.invalid && ExperienceID.touched"> ID is required!!!!</div>
      </div>

      <div class="form-group">
        <label > Company Name</label>
        <input name="CompanyName" #CompanyName="ngModel" [(ngModel)]="service.formData.CompanyName" class="form-control" required> 
        <div class="alert alert-danger" *ngIf="CompanyName.invalid && CompanyName.touched"> Company Name is required!!!!</div>
      </div>

      <div class="form-group">
        <label > Compnay Business </label>
        <input name="CompnayBusiness" #CompnayBusiness="ngModel" [(ngModel)]="service.formData.CompnayBusiness" class="form-control">
      </div>
      
      <div class="form-group">
        <label > Company Location </label>
        <input name="Company Location" #CompanyLocation="ngModel" [(ngModel)]="service.formData.CompanyLocation" class="form-control">
      </div>
</div>
<div class="col-md-4">
    <div class="form-group " hidden>
        <label > Designation </label>
        <input name="Designation" #Designation="ngModel" [(ngModel)]="service.formData.Designation" class="form-control"> 
      </div>
  
      <div class="form-group">
        <label > Department </label>
        <input name="Department" #Department="ngModel" [(ngModel)]="service.formData.Department" class="form-control">
      </div>
      
      <div class="form-group">
        <label > Responsibilities </label>
        <input name="Responsibilities" #Responsibilities="ngModel" [(ngModel)]="service.formData.Responsibilities" class="form-control">
      </div>
      <div class="form-group">
          <label > Start Date</label>
          <input type="date" name="StartDate" #StartDate="ngModel" [(ngModel)]="service.formData.StartDate" class="form-control">
        </div>
  </div>
  <div class="col-md-4">
      <div class="form-group">
          <label > End Date</label>
          <input type="date" name="EndDate" #EndDate="ngModel" [(ngModel)]="service.formData.EndDate" class="form-control">
        </div>
        
        
        <div class="form-group">
          <label > IsContinue </label>
          <input name="IsContinue" #IsContinue="ngModel" [(ngModel)]="service.formData.IsContinue" class="form-control">
        </div>
        
        
        <div hidden class="form-group">
          <label > PersonalDetailID</label>
          <input name="PersonalDetailID" #PersonalDetailID="ngModel" [(ngModel)]="service.formData.PersonalDetailID" class="form-control">
        </div>
    </div>   
      <div class="form-group">
     <!--  <button type="submit" [disabled]="form.invalid" *ngIf="!service.formData.PersonalDetailID" class="btn btn-primary">Create</button>--> 
     <button type="submit" [disabled]="form.invalid" *ngIf="!service.formData.ExperienceID" class="btn btn-primary">Create</button>
     <button type="submit" class="btn btn-info" *ngIf="service.formData.ExperienceID" > Update</button>
      </div>
    </div>
      </form>
  </div>
</div>


  