<div class="container">
  <div>
    <form #form="ngForm" (submit)="onSubmit(form)"  autocomplete="on">
      
  <div class="row" *ngIf="service.formData.EducationID" >
<div class="col-md-4">
    <div hidden class="form-group ">         
        <label > EducationID </label>
        <input  name="EducationID" #EducationID="ngModel" [(ngModel)]="service.formData.EducationID" class="form-control" required> 
        <div class="alert alert-danger" *ngIf="EducationID.invalid && EducationID.touched"> ID is required!!!!</div>
      </div>

      <div class="form-group">
        <label > Level Of Education</label>
        <input name="LevelOfEducation" #LevelOfEducation="ngModel" [(ngModel)]="service.formData.LevelOfEducation" class="form-control" required> 
        <div class="alert alert-danger" *ngIf="LevelOfEducation.invalid && LevelOfEducation.touched"> Level is required!!!!</div>
      </div>

      <div class="form-group">
        <label > CGPA </label>
        <input name="CGPA" #CGPA="ngModel" [(ngModel)]="service.formData.CGPA" class="form-control">
      </div>
      
      <div class="form-group">
        <label > Scale </label>
        <input name="Scale" #Scale="ngModel" [(ngModel)]="service.formData.Scale" class="form-control">
      </div>
</div>
<div class="col-md-4">
    <div class="form-group " hidden>
        <label > DegreeTitle </label>
        <input name="DegreeTitle" #DegreeTitle="ngModel" [(ngModel)]="service.formData.DegreeTitle" class="form-control"> 
      </div>
  
      <div class="form-group">
        <label > Group </label>
        <input name="Group" #Group="ngModel" [(ngModel)]="service.formData.Group" class="form-control">
      </div>
      
      <div class="form-group">
        <label > Institute </label>
        <input name="Institute" #Institute="ngModel" [(ngModel)]="service.formData.Institute" class="form-control">
      </div>
      <div class="form-group">
          <label > Passing Year</label>
          <input name="PassingYear" #PassingYear="ngModel" [(ngModel)]="service.formData.PassingYear" class="form-control">
        </div>
  </div>
  <div class="col-md-4">
      <div class="form-group">
          <label > Duration</label>
          <input name="Duration" #Duration="ngModel" [(ngModel)]="service.formData.Duration" class="form-control">
        </div>
        
        
        <div class="form-group">
          <label > Achievement </label>
          <input name="Achievement" #Achievement="ngModel" [(ngModel)]="service.formData.Achievement" class="form-control">
        </div>
        
        
        <div hidden class="form-group">
          <label > PersonalDetailID</label>
          <input name="PersonalDetailID" #PersonalDetailID="ngModel" [(ngModel)]="service.formData.PersonalDetailID" class="form-control">
        </div>
    </div>   
      <div class="form-group">
     <!--  <button type="submit" [disabled]="form.invalid" *ngIf="!service.formData.PersonalDetailID" class="btn btn-primary">Create</button>--> 
     <button type="submit" [disabled]="form.invalid" *ngIf="!service.formData.EducationID" class="btn btn-primary">Create</button>
     <button type="submit" class="btn btn-info" *ngIf="service.formData.EducationID" > Update</button>
      </div>
    </div>
      </form>
  </div>
</div>


  