
<div class="container">
  <div class="col-md-12">
    <app-navpersonalinfo></app-navpersonalinfo>
  </div>
  <div class="col-md-12">
      <table class="table table-responsive">
          <tr *ngFor="let jsAddress of service.list">
            <td (click)="populateForm(jsAddress)" > {{jsAddress.AddressID}} </td>
            <td (click)="populateForm(jsAddress)" > {{jsAddress.PresentAddress}}</td>
            <td (click)="populateForm(jsAddress)" >{{jsAddress.PermanentAddress}}</td>
            <td (click)="populateForm(jsAddress)" >{{jsAddress.PersonalDetailID}}</td>
            <td>       
            <!---   <button (click)="onDelete(jsAddress.AddressID)" class="btn btn-sm btn-outline-danger"> <i class="fa fa-trash" aria-hidden="true"></i></button>-->      
            </td>        
          </tr>
        </table>
        
  </div>
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
  </div>