 
      <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)" autocomplete="off">
          <br>
          <div class="form-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">  <i class="fa fa-user-circle fa-x "></i></span>
              </div>
              <input type="text" #UserName ngModel name="UserName" class="form-control" placeholder="UserName" aria-label="UserName" required>
              
          </div>
  
  
          <div class="form-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">  <i class="fa fa-key fa-x"></i></span>
              </div>
              <input type="Password" #Password ngModel class="form-control" name="Password" placeholder="Password" aria-label="Password" required>
          </div>
          
          <div class="form-group">
            <button [disabled]="!loginForm.valid" type="submit"  class="btn btn-primary">Login</button>
          </div>
          </form>
      