
    
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
     
      <div class="form-group input-group mb-3 ">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">  <i class="fa fa-user-circle fa-x "></i></span>
         </div>
        <input name="UserName" #UserName="ngModel" [(ngModel)]="service.formData.UserName" class="form-control"  placeholder="User Name" required> 
        <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This field is required!!!!</div>
      </div>
      
      <div class="form-group input-group mb-3">

          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">  <i class="fa fa-envelope fa-x"></i></span>
         </div>
        <input type="email" name="Email" #Email="ngModel" [(ngModel)]="service.formData.Email" class="form-control"  placeholder="Email">
      </div>
      
      <div class="form-group input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">  <i class="fa fa-key fa-x"></i></span>
         </div>
    
        <input type="password" name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password" class="form-control"  placeholder="Password">
      </div>
      
      <div class="form-group input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">  <i class="fa fa-key fa-x"></i></span>
         </div>
        <input type="password" name="ConfirmPassword" #ConfirmPassword="ngModel" [(ngModel)]="service.formData.ConfirmPassword" class="form-control" placeholder="Confirm Password">
      </div>
        
    
      
      <div class="form-group input-group mb-3">
        <button type="submit" [disabled]="form.invalid" class="btn btn-danger">SUBMIT</button>
      </div>
      </form>
 
  