
<div class="container" >
  <div class="wrapper fadeInDown">
      <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div id="formHeader">
            <div style="float: left">
       
            </div>
                  <a class="" style="font-size: 40px">Job Application System</a>                
          </div>
        
      
          <!-- Login Form -->
          <form>                
              <input type="button" class="fadeIn fourth" value="MVC API" (click)="UseMvc()">
              <input type="button" class="fadeIn fourth" value="Core API" (click)="UseCore()">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
              <a class="" style="font-size:30px">Choose Your API</a>
          </div>
      
      </div>
</div>
</div>