<div class="container">
  <div>
    <form #form="ngForm" (submit)="onSubmit(form)"  autocomplete="on">
      <div class="row" *ngIf="service.formData.SkillID" >
<div class="col-md-4">
    <div class="form-group ">         
        <label > SkillID </label>
        <input  name="SkillID" #SkillID="ngModel" [(ngModel)]="service.formData.SkillID" class="form-control" required> 
        <div class="alert alert-danger" *ngIf="SkillID.invalid && SkillID.touched"> Personal is required!!!!</div>
      </div>
</div>
<div class="col-md-4">
    <div class="form-group ">
        <label > SkillName</label>
        <input name="SkillName" #SkillName="ngModel" [(ngModel)]="service.formData.SkillName" class="form-control"> 
      </div>
  </div>
  <div class="col-md-4">
      <div class="form-group">
          <label > PersonalDetailID </label>
          <input  name="PersonalDetailID" #PersonalDetailID="ngModel" [(ngModel)]="service.formData.PersonalDetailID" class="form-control">
        </div>
    </div>   
      <div class="form-group">
     <!--  <button type="submit" [disabled]="form.invalid" *ngIf="!service.formData.PersonalDetailID" class="btn btn-primary">Create</button>--> 
     <button type="submit" [disabled]="form.invalid" *ngIf="!service.formData.SkillID" class="btn btn-primary">Create</button>
     <input type="submit" class="btn btn-info" value="Update" *ngIf="service.formData.SkillID" />
      </div>
    </div>
      </form>
  </div>
</div>


  