<br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link " href="#"  data-toggle="tab" routerLinkActive="active" routerLink="/dashboard/employeer/emplInf" role="tab" aria-selected="true"> Employeer Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="tab" routerLinkActive="active" routerLink="/dashboard/employeer/emplAddr" role="tab" aria-selected="false">Company Address </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"  data-toggle="tab" routerLinkActive="active" routerLink="/" role="tab"  aria-selected="false"> Logo </a>
  </li>


</ul>
