<br>
<div class="container border border-secondary " *ngFor="let job of service.list"> 
    <h4> Job Position:  {{job.Position}} </h4>
    <div class="row">
        <div class="col-md-8">
          <h5> Company Name:  {{job.Employer.CompanyName}} </h5>
          <h6> Company Catageory:  {{job.Employer.Catageory}} </h6>
          <p class="font-italic"> Company Details: {{job.Employer.BusinessDescription}} </p>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item"> Number of Post: {{job.NumberofPost}}</li>
                <li class="list-group-item"> Salary Range:  {{job.SalaryScale}} </li>
                <li class="list-group-item"> Age Limit : {{job.AgeLimit}}</li>
                <li class="list-group-item"> At least Education Qualification : {{job.EducationRequirement}}</li>
                <li class="list-group-item"> Company Email : {{job.Employer.Email}}</li>
                <li class="list-group-item"> Company Phone Number : {{job.Employer.TelePhone}}</li>
              </ul>
              <p class="text-danger"> Last Date of Applicatin:  {{job.LastDateofApplication}} </p>
              <button class="button" routerLink="/dashboard/jobseekerdashboard/jobappplyu" class="btn btn-success"> APPLY NOW </button>
        </div>
        <div class="col-md-4">
<p class="justify-content-sm-around "> The job or employment application is the official form that employers ask all applicants for a position to fill out. The job application is filled out offline in a pen and paper format or, increasingly, online. The job application (see a variety of sample job applications) provides a consistent format with the same questions that must be answered by each person who applies for an open position.


    The job application is a legally defensible listing of your job applicant’s employment history, educational background, degrees, qualifications, references, and more. </p>
          </div>
    </div>
</div>