
<div class="container">
<div class="col-md-12">
  <app-navpersonalinfo></app-navpersonalinfo>
</div>
<div class="col-md-12" >
    <table class="table table-responsive" >
        <tr *ngFor="let pdetails of service.list">
          <td (click)="populateForm(pdetails)" hidden > {{pdetails.PersonalDetailID}} </td>
          <td (click)="populateForm(pdetails)" > {{pdetails.UserName}}</td>
          <td (click)="populateForm(pdetails)" >{{pdetails.FirstName}}</td>
          <td (click)="populateForm(pdetails)" >{{pdetails.LastName}}</td>
          <td (click)="populateForm(pdetails)" >{{pdetails.FatherName}}</td>
          <td (click)="populateForm(pdetails)" >{{pdetails.MotherName}}</td>
          <td (click)="populateForm(pdetails)" >{{pdetails.DOB}}</td>
          <td (click)="populateForm(pdetails)" >{{pdetails.NationalID}}</td>
          <td (click)="populateForm(pdetails)" >{{pdetails.CellPhone}}</td>
          <td (click)="populateForm(pdetails)" >{{pdetails.Email}}</td>
          <td (click)="populateForm(pdetails)" ><img src="{{pdetails.Photo}}" ></td>
          <td>       
          <!---   <button (click)="onDelete(pdetails.JobListID)" class="btn btn-sm btn-outline-danger"> <i class="fa fa-trash" aria-hidden="true"></i></button>-->      
          </td>        
        </tr>
      </table>
      
</div>
<div class="col-md-12">
  <router-outlet></router-outlet>
</div>
</div>