<div class="container">
  <div>
    <form #form="ngForm" (submit)="onSubmit(form)"  autocomplete="on">
      
  <div class="row" *ngIf="service.formData.EmployerID" >
<div class="col-md-4">
    <div hidden class="form-group ">         
        <label > EmployerID </label>
        <input  name="EmployerID" #EmployerID="ngModel" [(ngModel)]="service.formData.EmployerID" class="form-control" required> 
        <div class="alert alert-danger" *ngIf="EmployerID.invalid && EmployerID.touched"> ID is required!!!!</div>
      </div>
      <div class="form-group">
        <label > User Name</label>
        <input name="UserName" #UserName="ngModel" [(ngModel)]="service.formData.UserName" class="form-control" required> 
        <div class="alert alert-danger" *ngIf="UserName.invalid && UserName.touched"> Level is required!!!!</div>
      </div>

      <div class="form-group">
        <label > CompanyName </label>
        <input name="CompanyName" #CompanyName="ngModel" [(ngModel)]="service.formData.CompanyName" class="form-control">
      </div>
      
      <div class="form-group">
        <label > Catageory </label>
        <input name="Catageory" #Catageory="ngModel" [(ngModel)]="service.formData.Catageory" class="form-control">
      </div>
</div>
<div class="col-md-4">
    <div class="form-group " hidden>
        <label > Business Description </label>
        <input name="BusinessDescription" #BusinessDescription="ngModel" [(ngModel)]="service.formData.BusinessDescription" class="form-control"> 
      </div>
  
      <div class="form-group">
        <label > Website Url </label>
        <input name="WebsiteUrl" #WebsiteUrl="ngModel" [(ngModel)]="service.formData.WebsiteUrl" class="form-control">
      </div>
      
      <div class="form-group">
        <label > PhoneNumber </label>
        <input name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="service.formData.PhoneNumber" class="form-control">
      </div>
      <div class="form-group">
          <label > Tele Phone</label>
          <input name="TelePhone" #TelePhone="ngModel" [(ngModel)]="service.formData.TelePhone" class="form-control">
        </div>
  </div>
  <div class="col-md-4">
      <div class="form-group">
          <label > Fax</label>
          <input name="Fax" #Fax="ngModel" [(ngModel)]="service.formData.Fax" class="form-control">
        </div>
        
        <div class="form-group">
          <label > Email </label>
          <input name="Email" #Email="ngModel" [(ngModel)]="service.formData.Email" class="form-control">
        </div>
      
    </div>   
      <div class="form-group">
     <!--  <button type="submit" [disabled]="form.invalid" *ngIf="!service.formData.PersonalDetailID" class="btn btn-primary">Create</button>--> 
     <button type="submit" [disabled]="form.invalid" *ngIf="!service.formData.EmployerID" class="btn btn-primary">Create</button>
     <button type="submit" class="btn btn-info" *ngIf="service.formData.EmployerID" > Update</button>
      </div>
    </div>
      </form>
  </div>
</div>


  