
<div class="container">
  <div class="col-md-12">
    <app-navpersonalinfo></app-navpersonalinfo>
  </div>
  <div class="col-md-12">
      <table class="table table-responsive">
          <tr *ngFor="let training of service.list">
            <td (click)="populateForm(training)" > {{training.TrainingID}} </td>
            <td (click)="populateForm(training)" > {{training.Title}}</td>
            <td (click)="populateForm(training)" >{{training.Topics}}</td>
            <td (click)="populateForm(training)" >{{training.Institute}}</td>
            <td (click)="populateForm(training)" >{{training.Location}}</td>
            <td (click)="populateForm(training)" >{{training.Country}}</td>
            <td (click)="populateForm(training)" >{{training.TrainingYear}}</td>
            <td (click)="populateForm(training)" >{{training.Duration}}</td>
            <td (click)="populateForm(training)" >{{training.PersonalDetailID}}</td>
            <td>       
            <!---   <button (click)="onDelete(training.TrainingID)" class="btn btn-sm btn-outline-danger"> <i class="fa fa-trash" aria-hidden="true"></i></button>-->      
            </td>        
          </tr>
        </table>
        
  </div>
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
  </div>